div {
	padding-left: 0;
}

.container {
	max-width: 730px;
	margin: 0 auto;
}

.bs-component {
	max-width: 730px;
	margin: 0 auto;
}

.col-lg-6 {
	display: inline-block;
	float: initial;
}

.nav-logout {
	margin-top: 10px;
}

.jumbotron p {
	font-size: 18px;
}

.img-subcontractor {
	display: inline-block;
}

.stars {
	display: inline-block;
	margin-right: 20px;
	text-align: right;
	font-size: 18px;
}

.stars .name {
	padding-right: 10px;
}

.stars .average {
	padding-right: 5px;
}
.header-comments {
	font-weight: bold;
	font-size: 18px;
}

.icon-star {
	margin-left: 5px;
}

.header-subcontractor {
    margin-bottom: 40px;
    text-align: center;
}

.stars .no-reviews,
.stars .average {
	padding-left: 10px;
}

.no-reviews {
	font-style: italic;
}

.col-comment {
	font-size: 16px;
}

.header-comments h3,
.table-orders,
.header-orders {
	margin-left: 15px;
}

#subcontractor div {
	vertical-align: top;
}

#subcontractor div.stars {
	vertical-align: middle;
}

.orderForm input {
	margin: 10px 20px;
}

.menu-item {
	text-align: center;
	margin-bottom: 20px;
}

.menu-item button {
	width: 180px;
}

.header-grid {
	font-weight: bold;
}
#logo {
	padding-left: 20px;
}
#back-button {
	margin: 20px 15px 0 15px;
	background-color: rgb(28, 90, 125);
}

/* feedback form styles #*/
.sub-info {
	display: inline-block;
}
#recall label.active {
	background-color: rgb(28, 90, 125);
}
/* login form styles*/
#login-container {
	max-width: 300px;
	margin: 0 auto;
}
