doctype html
html(lang="en")
    head
        title=feedback
        
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet")
        link(href="/bootstrap/css/bootstrap.min.css" rel="stylesheet")
        link(href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet")
    body
        .container-fluid
            .row.text-center
                h1 Feedback form
                p Your feedback is valueable for us. Please fill this form
            .row.text-center
                
            .row.text-center
                input(placeholder="additional words")
                
        script(src="https://code.jquery.com/jquery-2.1.4.min.js")
        script(src="/bootstrap/js/bootstrap.min.js")
